.add_task_button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.filter_button {
    padding: 10px 15px;
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.task_list {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 15px;
    margin: auto;
}